body {
    margin: 0;
}

#twitter-link {
    text-align: center;
    display: inline-block;
    position: fixed;
    right: 0;
    top: 0;
}

#sankey {
    width: 100vw;
    height: 90vh;
}

#choice-filter label {
    display: inline-block !important;
}

#voter-filter, #proposal-filter {
    display: inline-block;
    width: 50vw;
    padding: 0;
}